.body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container-fluid{
background-image: url(/images/brick.jpg);
background-size: 100% 100%;
background-repeat: no-repeat;
background-attachment: fixed;
}
.container-fluid{
    text-align: center;
    color:white;
}
.container-lg{
background-image: linear-gradient(to right top, #698990, #4289b2, #5b7ecf, #a860cb, #eb1297);
}
.me{
    background-color: black;
    text-align: center;
    color:white;
}